<h1>HTML</h1>

<div ng-repeat="element in elements">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h4>{{ element.name }}</h4>
      <p class="description">
        {{ element.description }}
      </p>
    </div><!-- .col -->

    <div class="col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Code</h3>
      </div>
      <div class="panel-body">
        <pre><code>{{ element.example }}</code></pre>
    </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Output</h3>
      </div>
      <div class="panel-body" ng-bind-html="element.example">
        
      </div>
    </div>

    </div><!-- col -->
  </div><!-- .row -->

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div ui-ace="{
            useWrapMode : true,
            theme:'github',
            mode: 'html',
            onLoad: aceLoaded,
            onChange: aceChanged
          }"></div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="preview"></div>
    </div><!-- col -->
  </div><!-- row -->

</div><!-- ng-repeat -->